@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Source+Serif+Pro:ital,wght@0,300;1,300&display=swap');

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.td, .th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

.tr:nth-child(even) {
    background-color: #000;
}

.wrap {
    padding: 40px;
    text-align: center;
}
hr {
    clear: both;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid #aaaaaa;
}
h1 {
    font-size: 30px;
    margin-bottom: 40px;
}
p {
    margin-bottom: 20px;
}
.btn {
    background: #42ada1;
    border: #42ada1 solid 1px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color .1s ease;
    font-weight: bold;
}
.btn:hover {
    background: #3c9e93;
}
.btn.btnBig {
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px;
}
.btnClose {
    color: #aaaaaa;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.btnClose:hover {
    color: #919191;
}
.modal:target:before {
    display: none;
}
.modal:before {
    content:"";
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.modal .modalDialog {
    background: #000;
    font-family: 'Source Serif Pro';
    color: #fff;
    border: #333333 solid 1px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    z-index: 11;
    width: 800px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    top: 50%;
}
.modal:target .modalDialog {
    top: -100%;
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
}
.modalBody {
    padding: 20px;
}
.modalHeader, .modalFooter {
    padding: 10px 10px;
}
.modalHeader {
    font-weight: bold;
}
.modalHeader h2 {
    font-size: 20px;
}
.modalFooter {
    text-align: right;
}

.hidden {
    display: none
}