body {
    background: #000;
}
.img {
    width: 20%;
    margin: 2%;
}
.logo {
    position: absolute;
    top: 10px;
    z-index: 5;
    max-width: 174px;
    max-height: 185px;
    left: 130px;
}
.text {
    color: #FFFFFF;
    font-family: 'Source Serif Pro';
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo {
    font-size: 50px;
    height: 55px;
    width: 360px;
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    animation:
      typing 1.5s steps(14, end),
      blink-caret .75s step-end 5;
}
@keyframes typing {
    from { width: 0 }
    to { width: 360px }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #42ada1; }
  }
.paragrafo {
    font-size: 19px;
    line-height: 29px;
}
@media(max-width: 767px) {

    .titulo {
        font-size: 40px;
  }
  .paragrafo {
      font-size: 16px;
  }
  .img {
      width: 50%;
  }
}