@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Source+Serif+Pro:ital,wght@0,300;1,300&display=swap');

.navMenu {
    background-color: #000;
}

.myNav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.myNav a {
    color: #fff;
    text-decoration: none;
    font-family: 'Source Serif Pro';
    font-size: 20px;
    margin: 1em;
}

.myNav a:hover {
    color: #42ada1
}


