.container{
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "divCod divCod divBtnConsulta divBtnConsulta "
    " . divNome divDescricao divPreco "
    ". divBtnCadastrar divBtnAtualizar divBtnDeletar";

}
/* cod,nome,descricao,preco,img */
.divCod{
    grid-area: divCod;
}
.divNome{
    grid-area: divNome;
}
.divBtnConsulta{
    grid-area: divBtnConsulta;
}
.divDescricao{
    grid-area: divDescricao;
}
.divPreco{
    grid-area: divPreco;
}
.divBtnCadastrar{
    grid-area: divBtnCadastrar;
}
.divBtnAtualizar{
   grid-area: divBtnAtualizar;
}
.divBtnDeletar{
    grid-area: divBtnDeletar;
}

input:focus,
select:focus,
textarea:focus,

.formulario{
    height: 94vh;
    background-color: black;
    color: white;
}

label{
    display: block;
    text-align: start;
}
.inputText{

    height: 25px;
    border-radius: 5px;
    color: white;

}

.inputText:focus{
    border: 5px solid white;
}

.inputGroup{
    margin: 10px;

}

.btnConsulta{
    font-family: 'Source Serif Pro';
    font-weight: bold;
    color: #fff;
    background: #000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    box-shadow: none!important;
}
.btnConsulta:hover{
    cursor: pointer;
    transform: scale(1.01);
}


.btnCadastrar{
    font-family: 'Source Serif Pro';
    font-weight: bold;
    color: #fff;
    background: #000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none!important;
}

.btnCadastrar:hover{
    cursor: pointer;
    transform: scale(1.01);
}


.btnAtualizar{
    font-family: 'Source Serif Pro';
    font-weight: bold;
    color: #fff;
    background: #000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none!important;
}

.btnAtualizar:hover{
    cursor: pointer;
    transform: scale(1.01);
}


.btnDeletar{
    font-family: 'Source Serif Pro';
    font-weight: bold;
    color: #fff;
    background: #000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none!important;
}

.btnDeletar:hover{
    cursor: pointer;
    transform: scale(1.01);
}


 @media (max-width: 400px) {
    .container{
        justify-content: center;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        grid-template-areas: "divCod divCod divCod divCod"
        "divBtnConsultar divBtnConsultar divBtnConsultar divBtnConsultar"
        "divNome divNome divNome divNome"
        "divDescricao divDescricao divDescricao divDescricao"
        "divPreco divPreco divPreco divPreco"
        "divBtnCadastrar divBtnCadastrar divBtnCadastrar divBtnCadastrar"
        "divBtnAtualizar divBtnAtualizar divBtnAtualizar divBtnAtualizar "
        "divBtnDeletar divBtnDeletar divBtnDeletar divBtnDeletar ";

    }
 }