.container{
    background: #000;
    display:flex;
    justify-content: space-around;
    padding-bottom: 3%
}

.card {
    background: #42ada1;
    border-radius: 15px;
    width: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.imgComida {
    width: 30%;
}
/* cod,nome,descricao,preco,img */
.divCod{
    grid-area: divCod;
    display: flex;
    align-items: center
}
.divNome{
    grid-area: divNome;
}
.divBtnConsulta{
    grid-area: divBtnConsulta;
}
.divDescricao{
    grid-area: divDescricao;
}
.divPreco{
    grid-area: divPreco;
}
.divBtnCadastrar{
    grid-area: divBtnCadastrar;
}
.divBtnAtualizar{
   grid-area: divBtnAtualizar;
}
.divBtnDeletar{
    grid-area: divBtnDeletar;
}

.formulario{
    height: 94vh;
    background-color: black;
    color: white;
}

.inputText {
    width: 100%;
}
label{
    display: block;
    text-align: start;
}

.buttons {
    display:flex;
    margin-top: 15px;
    justify-content: space-around;
}

.btnConsulta{
    font-family: 'Source Serif Pro';
    font-weight: bold;
    color: #fff;
    background: #758b86;;
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    box-shadow: none!important;
    margin: 0px 15px;
}

.btnConsulta:hover{
    cursor: pointer;
    transform: scale(1.01);
    background: #758b86!important;
}


.btnCadastrar{
    font-family: 'Source Serif Pro';
    font-weight: bold;
    color: #fff;
    background: #000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none!important;
}

.btnCadastrar:hover{
    cursor: pointer;
    transform: scale(1.01);
    background: #000!important;
}


.btnAtualizar{
    font-family: 'Source Serif Pro';
    font-weight: bold;
    color: #fff;
    background: #ca9c39;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none!important;
    margin: 0px 15px;
}

.btnAtualizar:hover{
    cursor: pointer;
    transform: scale(1.01);
    background: #ca9c39!important;
}


.btnDeletar{
    font-family: 'Source Serif Pro';
    font-weight: bold;
    color: #fff;
    background: #9B0909;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: none!important;
}

.btnDeletar:hover{
    cursor: pointer;
    transform: scale(1.01);
    background: #9B0909!important;
}


 @media (max-width: 700px) {
    .container{
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
       /* grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        grid-template-areas: "divCod divCod divCod divCod"
        "divBtnConsultar divBtnConsultar divBtnConsultar divBtnConsultar"
        "divNome divNome divNome divNome"
        "divDescricao divDescricao divDescricao divDescricao"
        "divPreco divPreco divPreco divPreco"
        "divBtnCadastrar divBtnCadastrar divBtnCadastrar divBtnCadastrar"
        "divBtnAtualizar divBtnAtualizar divBtnAtualizar divBtnAtualizar "
        "divBtnDeletar divBtnDeletar divBtnDeletar divBtnDeletar "; */

    }
    .inputText {
        width: auto;
    }
    .card {
        width: 90%;
    }
    .divCod {
        flex-direction: column;
    }
    .buttons {
        padding-bottom: 6%;
    }
 }
